/* reset css*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* Remove espaços desnecessários */

 }

/* Comentários */

 body{
    background: #222; /* Cor do Fundo */
    color: #e9bde9;
 }
 i{
    color: rgb(255, 0, 200);
    font-size: 30px;
 }

 #header {
    display: flex; /* Flexível, modelável */
    flex-flow: row wrap; /* Quebra de Linha */
    justify-content: space-between; /* Espaçamentos iguais */
    align-items: center; /* Alinhar Verticalmente - Centro */
    width: 100%; /* Largura da Página */
    /* background-color: aqua; */
    padding: 20px 200px 10px 0px;
    z-index: 2;/* Congelar menu superior */
 }

 .menu{
      display: flex; /* Deixar em linha */
      align-items: center;
      background: rgb(16, 11, 11);
      color: rgb(51, 218, 179); /* Cor do texto */
      gap: 25px;
      list-style: none; /* Remove as bolinhas do item */

 }
 .menu-item { /* Lista = li */
   width: 100%;

 }

 .menu-link {
   display: flex;
   text-decoration: none;

 }

 .menu-texto {
   font-size: 20px;
   text-transform: uppercase;

 }